.form-container{
    position: absolute;
    top: 25%;
    z-index: 10;
    padding: 20px;
    font-weight: bold;
}

.body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
}